<a href="https://colab.research.google.com/github/ezequielmartinezbuasso/CURSOWEB/blob/master/DS_W2_G6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Analyze variables, fill in missing values, normalize extreme values.**

In [7]:
#Jessica---------------------------------
#Como estábamos teniendo problemas al abrir el archivo, lo que hice fue subirlo directamente a la carpeta de trabajo para tenero de rápido acceso
#Sin embargo, como el documento era muy pesado, lo que hice fue convertirlo en zip, subirlo y las siguientes líneas de código son para abrir el archivo zip

#Abrir zip
from io import StringIO
from io import BytesIO
from zipfile import ZipFile
import urllib.request
import pandas as pd 

link = "https://github.com/SteeleP-J/DS-Project/raw/master/Auto.zip"
url = urllib.request.urlopen(link)


with ZipFile(BytesIO(url.read())) as my_zip_file:
    for contained_file in my_zip_file.namelist():
        fzip=my_zip_file.open(contained_file)
        data=fzip.read()

#Convertir el archivo en un data frame con pandas
s=str(data,'utf-8')
data = StringIO(s) 
df=pd.read_csv(data)
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/26/2016 14:57,BMW_320d_DPFXenon_Tempomat_Sitzheizung_PDC_Kli...,privat,Angebot,10499,control,limousine,2006,manual,163,3er,90000,1,diesel,bmw,no,3/26/2016 0:00,0,76661,4/6/2016 2:46
1,3/23/2016 20:57,Renault_clio_mit_nagelneuen_T?!*,privat,Angebot,1199,test,kleinwagen,2001,manual,0,clio,150000,4,benzin,renault,no,3/23/2016 0:00,0,10967,4/6/2016 2:46
2,3/19/2016 18:56,VW_LUPO._1.1l_T?_3/18,privat,Angebot,2750,test,kleinwagen,1999,manual,50,lupo,40000,10,benzin,volkswagen,no,3/19/2016 0:00,0,53757,3/23/2016 8:15
3,3/30/2016 12:51,Opel_Astra_Caravan_Sport_sehr_gepflegt,privat,Angebot,3500,control,kombi,2004,manual,125,astra,150000,10,benzin,opel,no,3/30/2016 0:00,0,4329,4/1/2016 12:50
4,3/26/2016 21:36,Ford_Focus_Turnier_1.6_TDCi_DPF_Trend,privat,Angebot,7500,control,kombi,2012,manual,116,focus,150000,8,diesel,ford,no,3/26/2016 0:00,0,91189,4/2/2016 14:16

In [ ]:
df['name'] = df['name'].str.replace(r"_"," ")
df['name'] = df['name'].str.replace(r"\W"," ")
df['model'] = df['model'].str.replace(r"\W"," ")
df['name'] = df['name'].str.replace(r"  "," ")
df['name'] = df['name'].str.replace(r"  "," ")
df['name'] = df['name'].str.upper()
df['seller'] = df['seller'].str.title()
df['offerType'] = df['offerType'].str.title()
df['abtest'] = df['abtest'].str.title()
df['vehicleType'] = df['vehicleType'].str.title()
df['gearbox'] = df['gearbox'].str.title()
df['model'] = df['model'].str.title()
df['fuelType'] = df['fuelType'].str.title()
df['brand'] = df['brand'].str.title()
df['notRepairedDamage'] = df['notRepairedDamage'].str.title()
df['dateCrawled'] = pd.to_datetime(df['dateCrawled'],yearfirst=True, errors='coerce')
df['dateCreated'] = pd.to_datetime(df['dateCreated'],yearfirst=True, errors='coerce')
df['lastSeen'] = pd.to_datetime(df['lastSeen'],yearfirst=True, errors='coerce')
df['notRepairedDamage'] = df['notRepairedDamage'].fillna('No')  

df['name'] = df['name'].str.strip()
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 14:57:00,BMW 320D DPFXENON TEMPOMAT SITZHEIZUNG PDC KLI...,Privat,Angebot,10499,Control,Limousine,2006,Manual,163,3Er,90000,1,Diesel,Bmw,No,2016-03-26,0,76661,2016-04-06 02:46:00
1,2016-03-23 20:57:00,RENAULT CLIO MIT NAGELNEUEN T,Privat,Angebot,1199,Test,Kleinwagen,2001,Manual,0,Clio,150000,4,Benzin,Renault,No,2016-03-23,0,10967,2016-04-06 02:46:00
2,2016-03-19 18:56:00,VW LUPO 1 1L T 3 18,Privat,Angebot,2750,Test,Kleinwagen,1999,Manual,50,Lupo,40000,10,Benzin,Volkswagen,No,2016-03-19,0,53757,2016-03-23 08:15:00
3,2016-03-30 12:51:00,OPEL ASTRA CARAVAN SPORT SEHR GEPFLEGT,Privat,Angebot,3500,Control,Kombi,2004,Manual,125,Astra,150000,10,Benzin,Opel,No,2016-03-30,0,4329,2016-04-01 12:50:00
4,2016-03-26 21:36:00,FORD FOCUS TURNIER 1 6 TDCI DPF TREND,Privat,Angebot,7500,Control,Kombi,2012,Manual,116,Focus,150000,8,Diesel,Ford,No,2016-03-26,0,91189,2016-04-02 14:16:00