<a href="https://colab.research.google.com/github/ezequielmartinezbuasso/CURSOWEB/blob/master/DS_W2_G6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Analyze variables, fill in missing values, normalize extreme values.**

In [ ]:
import pandas as pd
import numpy as np
cars_data = pd.read_csv (r'/content/Automotive_2.csv')   #read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). Don't forget to put the file name at the end of the path + ".csv"
cars_data.head (10)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,3/26/2016 14:57,BMW_320d_DPFXenon_Tempomat_Sitzheizung_PDC_Kli...,privat,Angebot,10499,control,limousine,2006,manual,163,3er,90000,1,diesel,bmw,no,3/26/2016 0:00,0,76661,4/6/2016 2:46
1,3/23/2016 20:57,Renault_clio_mit_nagelneuen_T?!*,privat,Angebot,1199,test,kleinwagen,2001,manual,0,clio,150000,4,benzin,renault,no,3/23/2016 0:00,0,10967,4/6/2016 2:46
2,3/19/2016 18:56,VW_LUPO._1.1l_T?_3/18,privat,Angebot,2750,test,kleinwagen,1999,manual,50,lupo,40000,10,benzin,volkswagen,no,3/19/2016 0:00,0,53757,3/23/2016 8:15
3,3/30/2016 12:51,Opel_Astra_Caravan_Sport_sehr_gepflegt,privat,Angebot,3500,control,kombi,2004,manual,125,astra,150000,10,benzin,opel,no,3/30/2016 0:00,0,4329,4/1/2016 12:50
4,3/26/2016 21:36,Ford_Focus_Turnier_1.6_TDCi_DPF_Trend,privat,Angebot,7500,control,kombi,2012,manual,116,focus,150000,8,diesel,ford,no,3/26/2016 0:00,0,91189,4/2/2016 14:16
5,3/15/2016 19:45,Audi_Q5_3.0_TDI_quattro_S_tronic,privat,Angebot,34800,control,suv,2012,automatik,245,q5,50000,5,diesel,audi,yes,3/15/2016 0:00,0,93349,4/6/2016 23:44
6,3/7/2016 22:48,Alfa_Romeo_147,privat,Angebot,1050,test,kleinwagen,2002,manual,105,147,150000,8,benzin,alfa_romeo,no,3/7/2016 0:00,0,48356,3/12/2016 0:45
7,3/30/2016 20:57,renaut_espace_fast_frei,privat,Angebot,200,control,bus,1998,manual,115,espace,150000,6,lpg,renault,yes,3/30/2016 0:00,0,80331,4/5/2016 11:46
8,4/2/2016 10:56,BMW_e36_316i_Compact_1_9_T?_neu,privat,Angebot,1250,test,NaN,2018,NaN,0,3er,150000,0,benzin,bmw,NaN,4/2/2016 0:00,0,66629,4/6/2016 9:16
9,4/1/2016 12:53,Renault_Trafic_2.5_dCi_Generation_Expression,privat,Angebot,5200,test,kombi,2006,manual,135,andere,150000,7,diesel,renault,no,4/1/2016 0:00,0,6636,4/3/2016 9:18

In [ ]:
cars_data.isnull().sum()

dateCrawled                0
name                       0
seller                     0
offerType                  0
price                      0
abtest                    12
vehicleType            17479
yearOfRegistration        10
gearbox                 9350
powerPS                    4
model                   9363
kilometer                  0
monthOfRegistration       16
fuelType               15287
brand                     42
notRepairedDamage      33167
dateCreated                0
nrOfPictures               0
postalCode                 0
lastSeen                 132
dtype: int64

In [ ]:
#Jessica---------------------------------
#Como estábamos teniendo problemas al abrir el archivo, lo que hice fue subirlo directamente a la carpeta de trabajo para tenero de rápido acceso
#Sin embargo, como el documento era muy pesado, lo que hice fue convertirlo en zip, subirlo y las siguientes líneas de código son para abrir el archivo zip

#Abrir zip
from io import StringIO
from io import BytesIO
from zipfile import ZipFile
import urllib.request
import pandas as pd 

link = "https://github.com/SteeleP-J/DS-Project/raw/master/Auto.zip"
url = urllib.request.urlopen(link)


with ZipFile(BytesIO(url.read())) as my_zip_file:
    for contained_file in my_zip_file.namelist():
        fzip=my_zip_file.open(contained_file)
        data=fzip.read()

#Convertir el archivo en un data frame con pandas
s=str(data,'utf-8')
data = StringIO(s) 
df=pd.read_csv(data)
df.tail()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
171523,3/14/2016 17:48,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,3/14/2016 0:00,0,39576,4/6/2016 0:46
171524,3/5/2016 19:56,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,no,3/5/2016 0:00,0,26135,3/11/2016 18:17
171525,3/19/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manual,102,transporter,150000,3,diesel,volkswagen,no,3/19/2016 0:00,0,87439,4/7/2016 7:15
171526,3/20/2016 19:41,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manual,100,golf,150000,6,diesel,volkswagen,NaN,3/20/2016 0:00,0,40764,3/24/2016 12:45
171527,3/7/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manual,320,m_reihe,50000,8,benzin,bmw,no,3/7/2016 0:00,0,73326,3/22/2016 3:17

In [8]:
df['name'] = df['name'].str.replace(r"_"," ")
df['name'] = df['name'].str.replace(r"\W"," ")
df['model'] = df['model'].str.replace(r"\W"," ")
df['name'] = df['name'].str.replace(r"  "," ")
df['name'] = df['name'].str.replace(r"  "," ")
df['name'] = df['name'].str.upper()
df['seller'] = df['seller'].str.title()
df['offerType'] = df['offerType'].str.title()
df['abtest'] = df['abtest'].str.title()
df['vehicleType'] = df['vehicleType'].str.title()
df['gearbox'] = df['gearbox'].str.title()
df['model'] = df['model'].str.title()
df['fuelType'] = df['fuelType'].str.title()
df['brand'] = df['brand'].str.title()
df['notRepairedDamage'] = df['notRepairedDamage'].str.title()
df['dateCrawled'] = pd.to_datetime(df['dateCrawled'],yearfirst=True, errors='coerce')
df['dateCreated'] = pd.to_datetime(df['dateCreated'],yearfirst=True, errors='coerce')
df['lastSeen'] = pd.to_datetime(df['lastSeen'],yearfirst=True, errors='coerce')
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 14:57:00,BMW 320D DPFXENON TEMPOMAT SITZHEIZUNG PDC KLI...,Privat,Angebot,10499,Control,Limousine,2006,Manual,163,3Er,90000,1,Diesel,Bmw,No,2016-03-26,0,76661,2016-04-06 02:46:00
1,2016-03-23 20:57:00,RENAULT CLIO MIT NAGELNEUEN T,Privat,Angebot,1199,Test,Kleinwagen,2001,Manual,0,Clio,150000,4,Benzin,Renault,No,2016-03-23,0,10967,2016-04-06 02:46:00
2,2016-03-19 18:56:00,VW LUPO 1 1L T 3 18,Privat,Angebot,2750,Test,Kleinwagen,1999,Manual,50,Lupo,40000,10,Benzin,Volkswagen,No,2016-03-19,0,53757,2016-03-23 08:15:00
3,2016-03-30 12:51:00,OPEL ASTRA CARAVAN SPORT SEHR GEPFLEGT,Privat,Angebot,3500,Control,Kombi,2004,Manual,125,Astra,150000,10,Benzin,Opel,No,2016-03-30,0,4329,2016-04-01 12:50:00
4,2016-03-26 21:36:00,FORD FOCUS TURNIER 1 6 TDCI DPF TREND,Privat,Angebot,7500,Control,Kombi,2012,Manual,116,Focus,150000,8,Diesel,Ford,No,2016-03-26,0,91189,2016-04-02 14:16:00